
.grundfos-background { background-color: $grundfos-color; }
.agco-background { background-color: $agco-color; }
.concordium-background { background-color: $concordium-color; }
.vass-background { background-color: $vass-color; }
.altapay-background { background-color: $altapay-color; }
.philips-background { background-color: $philips-color; }