
.grundfos-background    { background-color: $grundfos-color; }
.agco-background        { background-color: $agco-color; }
.concordium-background  { background-color: $concordium-color; }
.vass-background        { background-color: $vass-color; }
.altapay-background     { background-color: $altapay-color; }
.philips-background     { background-color: $philips-color; }
.home-background        { background: radial-gradient(230.13% 143.81% at 92.74% 11.86%, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.20) 100%), #070625; } 