@import './colors.scss';
@import './employers.scss';
@import './background.scss';
@import './padding.scss';
@import './mansory.scss';
@import './slide-in-effect.scss';


.image-rounded-shadow {
    border-radius: 0.75rem; /* Equivalent to rounded-xl */
    overflow: hidden;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.3); /* Custom shadow */
}

