.container-padding-gutters {
    padding-left: 1rem; /* px-4 */
    padding-right: 1rem;
}
@media (min-width: 640px) { /* sm */
    .container-padding-gutters {
        padding-left: 1.5rem; /* px-6 */
        padding-right: 1.5rem;
    }
}
@media (min-width: 768px) { /* md */
    .container-padding-gutters {
        padding-left: 2rem; /* px-8 */
        padding-right: 2rem;
    }
}
@media (min-width: 1024px) { /* lg */
    .container-padding-gutters {
        padding-left: 2.5rem; /* px-10 */
        padding-right: 2.5rem;
    }
}

.container-padding-top-small {
    padding-top: 2rem; /* pt-8 */
}
@media (min-width: 640px) {
    .container-padding-top-small {
        padding-top: 2.5rem; /* pt-10 */
    }
}
@media (min-width: 768px) {
    .container-padding-top-small {
        padding-top: 3.5rem; /* pt-14 */
    }
}
@media (min-width: 1024px) {
    .container-padding-top-small {
        padding-top: 4rem; /* pt-16 */
    }
}

.container-padding-top-large {
    padding-top: 6rem; /* pt-24 */
}
@media (min-width: 640px) {
    .container-padding-top-large {
        padding-top: 7rem; /* pt-28 */
    }
}
@media (min-width: 768px) {
    .container-padding-top-large {
        padding-top: 8rem; /* pt-32 */
    }
}
@media (min-width: 1024px) {
    .container-padding-top-large {
        padding-top: 10rem; /* pt-40 */
    }
}

.container-padding-bottom {
    padding-bottom: 6rem; /* pb-24 */
}
@media (min-width: 640px) {
    .container-padding-bottom {
        padding-bottom: 7rem; /* pb-28 */
    }
}
@media (min-width: 768px) {
    .container-padding-bottom {
        padding-bottom: 8rem; /* pb-32 */
    }
}
@media (min-width: 1024px) {
    .container-padding-bottom {
        padding-bottom: 10rem; /* pb-40 */
    }
}

.container-margin-top {
    margin-top: 6rem; /* mt-24 */
}
@media (min-width: 640px) {
    .container-margin-top {
        margin-top: 7rem; /* mt-28 */
    }
}
@media (min-width: 768px) {
    .container-margin-top {
        margin-top: 8rem; /* mt-32 */
    }
}
@media (min-width: 1024px) {
    .container-margin-top {
        margin-top: 10rem; /* mt-40 */
    }
}
